@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

:root{
    --color-Red: hsl(0, 78%, 62%);
    --color-Cyan: hsl(180, 62%, 55%);
    --color-Orange: hsl(34, 97%, 64%);
    --color-Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --font-size: 15px;

    /* 
- Mobile: 375px
- Desktop: 1440px */
}

header {
  font-size: 1rem;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
}

h1{
    font-size: 1rem;
}

.light{
  font-weight: 200;
}

.heavy{
  font-weight: 500;
}

header p{
  max-width: 80vh;
}

.card{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* place-content: center; */
  place-items: center;
}












.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
