@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

:root{
    --color-Red: hsl(0, 78%, 62%);
    --color-Cyan: hsl(180, 62%, 55%);
    --color-Orange: hsl(34, 97%, 64%);
    --color-Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --font-size: 15px;
}

header {
  font-size: 1rem;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

h1{
    font-size: 1.5rem;
    color: var(--Very-Dark-Blue);
}

.light{
  font-weight: 200;
}

.heavy{
  font-weight: 500;
}

header p{
  max-width: 62vh;
  font-weight: 200;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
  max-width: 900px;
}

.card-container{
  position: relative;
  background-color: var(--Very-Light-Gray);
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 1px 1px 3px var(--Grayish-Blue),
              -1px 1px 3px var(--Grayish-Blue),
              0px 10px 15px var(--Grayish-Blue);
}

.card-container h3{
  font-size: 0.9rem;
  color: var(--Very-Dark-Blue);
}

.card-container p{
  font-size: 0.7rem;
  font-weight: 200;
  margin-top: 0.5rem;
  line-height: 20px;
}

.image{
  display: flex;
  margin-top: 1.2rem;
  justify-content:flex-end;
}

.card-container::before{
  position: absolute;
  content: '';
  background-color:black;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
}

.supervisor::before{
  background-color: var(--color-Cyan);
}

.team-builder{
  top: -6rem;
}

.team-builder::before{
  background-color: var(--color-Red);
}

.calculator::before{
  background-color: var(--color-Blue);
}

.karma{
  grid-column: 2 / 3;
  top: -6rem;
}

.karma::before{
  background-color: var(--color-Orange);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 700px) {

  header{
    margin: 3rem 1rem 0rem 1rem;
  }

  .card{
    margin: 0 1rem;
  }
  .container{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
  }

  .team-builder{
    top: 0;
  }

  .karma{
    top: 0;
  }
}